<div class="w-full bg-[#191919] rounded-lg hover:bg-[#212121] transition-all flex flex-row justify-center items-center">
    <button class="p-1 m-2 [&>*]:m-1 flex flex-row" (click)="emitClickEvent()">
        <!-- Example placeholder for the first div -->
        <div class="rounded-full p-3" [style.backgroundColor]="formatColor(colorScheme?.saberAColor)"></div>
        <!-- Use the method for dynamically setting the color from colorScheme -->
        <div class="rounded-full p-3" [style.backgroundColor]="formatColor(colorScheme?.saberBColor)"></div>
    </button>
</div>
